* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.header-title {
    font-size: 14px;
    font-weight: 700;
    color: #c5c553;
    text-transform: uppercase;
}

.header-action button {
    height: 40px;
    padding: 10px 20px;
    background-color: #c5c553;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header-action button:hover {
    background-color: #8d8d3d;
}

.header-links {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.header-links span {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}

.menu-logo img {
    width: 150px;
}

.menu-list span:not(:last-child) {
    margin-right: 10px;
}
